.text {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

.section_wrapper {
    display: flex;
}

.section_wrapper_reverse {
    display: flex;
    flex-direction: row-reverse;
}



.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}